/* 
    Document   : adminstyle-twopane
    Created on : Dec 2, 2008, 1:09:44 PM
    Author     : matt
    Description:
        Purpose of the stylesheet follows.
*/

#searchpane {
    display: block !important;
    position: absolute;
    left: 5px;
    top: 99px;
    width: 150px;
    border-right: 1px solid gray;
    min-height: 400px;
}
#content { /* overrides previous definition */
    left: 160px;
}